:root {
  --primary-color: #6c63ff;
  --link-cursor: pointer;
  --box-shadow: 0px 13px 27px -5px rgba(50, 50, 93, 0.25),
    0px 8px 16px -8px rgba(0, 0, 0, 0.3);
  --button-hover-color: #296ee2;
}

.navbar {
  width: 100%;
}

.navbar-toggler {
  margin: 0;
}

a {
  display: block;
  margin: 0 0 0 0;
}

a .navbar {
  text-align: left;
}

h1,
h2,
h3 {
  margin: 0;
  padding: 0 0 10px 0;
}
h2 {
  font-size: 50px;
}

h1 {
  font-size: 90px;
}

h3 {
  display: block;
  margin: 0 auto;
  font-size: 24px;
  opacity: 0.7;
}

.buttons {
  display: flex;
  justify-content: center;
  padding: 20px 0 0 0;
  margin-bottom: 50px;
}

button {
  margin: 30px 18px 30px 18px;
  padding: 20px;
  border-radius: 3px;
  cursor: var(--link-cursor);
}

a:-webkit-any-link {
  cursor: auto;
  /* color: var(--primary-color); */
}

a:hover {
  color: #f2a9da;
  cursor: pointer;
}

#homepage-link,
#email {
  cursor: var(--link-cursor);
}

/* input {
  margin: 30px 18px 30px 18px;
  padding: 20px;
  border-radius: 3px;
  box-shadow: var(--box-shadow);
} */

#button-1,
#button-3 {
  background: var(--primary-color);
  color: white;
  border: none;
  box-shadow: var(--box-shadow);
}
#button-1:hover,
#button-3:hover {
  color: var(--button-hover-color);
}

#button-2 {
  border-color: var(--primary-color);
  border-width: 1px;
  color: var(--primary-color);
  background-color: white;
}

.launchApp {
  color: white;
}

.paragraphs {
  display: flex;
  justify-content: space-evenly;
}

.paragraph {
  margin: 20px;
  background-color: #f5f2fe;
  padding: 15px;
  border-radius: 10px;
  line-height: 30px;
  width: 90%;
}

footer {
  font-size: 40px;
}

.nav-link:hover {
  cursor: pointer;
}

@media (max-width: 576px) {
  .homeImg {
    display: none;
  }
  .row {
    display: block;
    margin: 0 auto;
  }
  h2,
  p {
    text-align: center;
  }
  h3 {
    font-size: larger;
    margin-top: 10px;
    font-weight: bold;
  }
  h1 {
    font-size: 50px;
  }
}
